.chatBox:hover{
    background-color: #5e5e6e;
}

.chatBox{
    margin: 5px 0px;
    display: flex;
    border-radius: 10px;
}

.chatLink{
    flex-grow: 9;
    text-align: center;
    margin:auto;
    padding: 5px;
}
