.sidebar {
    flex-direction: column;
    display: flex;
    height: 100svh;
    min-width: 20vw;
    padding-left: 1vw;
    padding-right: 1vw;
    background-color: #18181d;
}

.heading{
    text-align: center;
    padding: 1vh 0;
}

.chatSelection{
    height: auto;
    overflow: auto;

    display: flex;
    flex-direction: column;
}

.newChat{
    text-align: center;
    padding: 5px 0px;
    margin: 5px;

    border-radius: 10px;
}

.newChat:hover{
    background-color: #5e5e6e;
}